.details {
  width: 100%;
  height: 100%;
  display: flex;
  background: white;
}
.details .details-container {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 2rem 0;
}
.details .details-container .details-back-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--scroll-btn);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 0.3s ease-in-out;
}
.details .details-container .details-back-btn .icon {
  font-size: 1.5rem;
  color: var(--white);
}
.details .details-container .details-back-btn:hover {
  color: #f00;
}
.details .details-container .details-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
}
.details .details-container .details-content .details-flag {
  width: 600px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.details .details-container .details-content .details-flag img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.details .details-container .details-content .details-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.details .details-container .details-content .details-info h2 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--scroll-btn);
  text-transform: uppercase;
}
.details .details-container .details-content .details-info .details-info-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 4rem;
}
.details .details-container .details-content .details-info .details-info-top .details-info-top-left {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.details .details-container .details-content .details-info .details-info-top .details-info-top-left p {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
}
.details .details-container .details-content .details-info .details-info-top .details-info-top-left p span {
  font-weight: 400;
  font-size: 0.8rem;
  color: var(--scroll-btn);
}
.details .details-container .details-content .details-info .details-info-top .details-info-top-right {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.details .details-container .details-content .details-info .details-info-top .details-info-top-right p {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
}
.details .details-container .details-content .details-info .details-info-top .details-info-top-right p span {
  font-weight: 400;
  font-size: 0.8rem;
  color: var(--scroll-btn);
}

@media screen and (max-width: 768px) {
  .details .details-container {
    width: 100%;
    padding: 1rem 0;
  }
  .details .details-container .details-content {
    flex-direction: column;
    gap: 1rem;
  }
  .details .details-container .details-content .details-flag {
    width: 100%;
    height: 300px;
  }
  .details .details-container .details-content .details-info {
    padding: 1rem;
  }
  .details .details-container .details-content .details-info .details-info-top {
    flex-direction: column;
    gap: 1rem;
  }
  .details .details-container .details-content .details-info .details-info-top .details-info-top-left p span {
    font-size: 0.8rem;
  }
  .details .details-container .details-content .details-info .details-info-top .details-info-top-right p span {
    font-size: 0.8rem;
  }
}/*# sourceMappingURL=Details.css.map */